<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AlphabankConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">alphabank</argument>
        </arguments>
    </virtualType>
    <type name="Monogo\Alphabank\Model\AlphabankAdapter">
        <arguments>
            <argument name="config" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </type>
    <type name="Monogo\Alphabank\Model\RespondHandler">
        <arguments>
            <argument name="config" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </type>
    <type name="Monogo\Alphabank\Model\AlphabankConfigProvider">
        <arguments>
            <argument name="config" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </type>
</config>
