<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Payment Method Facade -->
    <virtualType name="SamplePaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">alphabank</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Monogo\Alphabank\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">SamplePaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">SamplePaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Commands -->
    <virtualType name="AlphabankCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Monogo\Alphabank\Gateway\Command\InitializeCommand</item>
                <item name="capture" xsi:type="string">AlphabankPaymentGatewayCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Capture command -->
    <virtualType name="AlphabankPaymentGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Monogo\Alphabank\Gateway\Request\CaptureRequestBuilder</argument>
            <argument name="handler" xsi:type="object">Monogo\Alphabank\Gateway\Response\TxnCaptureHandler</argument>
            <argument name="transferFactory" xsi:type="object">Monogo\Alphabank\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Monogo\Alphabank\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">AlphabankHttpClient</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers -->
    <virtualType name="AlphabankPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">AlphabankPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AlphabankPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </virtualType>

    <!-- Response handlers -->
    <virtualType name="AlphabankPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Monogo\Alphabank\Gateway\Response\TxnCaptureHandler</item>
<!--                <item name="fraud" xsi:type="string">Monogo\Alphabank\Gateway\Response\FraudHandler</item>-->
            </argument>
        </arguments>
    </virtualType>

<!--    <type name="Monogo\Alphabank\Gateway\Http\Client\Curl">-->
<!--        <arguments>-->
<!--            <argument name="converter" xsi:type="object">Monogo\Alphabank\Gateway\Http\Converter\HtmlFormConverter</argument>-->
<!--        </arguments>-->
<!--    </type>-->

    <virtualType name="AlphabankHttpClient" type="Magento\Payment\Gateway\Http\Client\Zend">
        <arguments>
            <argument name="converter" xsi:type="object">Monogo\Alphabank\Gateway\Http\Converter\HtmlFormConverter</argument>
        </arguments>
    </virtualType>

    <!-- Add config -->
    <virtualType name="AlphabankConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">alphabank</argument>
        </arguments>
    </virtualType>
    <type name="Magento\SamplePaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </type>
    <type name="Monogo\Alphabank\Gateway\Http\TransferFactory">
        <arguments>
            <argument name="config" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </type>
    <type name="Monogo\Alphabank\Gateway\Request\RequestBuilder">
        <arguments>
            <argument name="config" xsi:type="object">AlphabankConfig</argument>
        </arguments>
    </type>
</config>
